/* Must be placed in the resources folder */
.root-pane
{
    -fx-background-color: #190033;
}

.top-box
{
    -fx-padding: 40;
}

.info-label
{
    -fx-text-fill: #00FFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.board-grid
{
    -fx-padding: 15;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.synth-button
{
    -fx-background-color: #190033;
    -fx-text-fill: #FF1493;
    -fx-border-color: #00FFFF;
    -fx-border-width: 2px;
    -fx-font-family: "Monospaced";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.bottom-box
{
    -fx-padding: 40;
}

.overlay
{
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-padding: 30;
}

.overlay-title
{
    -fx-text-fill: #00FFFF;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.overlay-button
{
    -fx-background-color: #190033;
    -fx-text-fill: #FF1493;
    -fx-border-color: #00FFFF;
    -fx-border-width: 2px;
    -fx-font-family: "Monospaced";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
